// FAMILY MEMBERS
.page-id-16 {
	#triangle-header { 
	// 	padding-bottom:240px;
	// 	@media(min-width:480px) {
	// 		padding-bottom: 50%;
	// 	}
		@media(min-width:1400px) {
			padding-bottom: 532px;
		}
	}

	.article-header .page-title:after {
		content:none;
		display: none;
	}

	.family-members-container {
		padding-top:0;
	}
}