.tabs-container {
	margin: 80px auto;
	text-align: center;
}

.copy-container {
	max-width: 900px;
	text-align: center;
	margin: auto;
	padding: 20px 40px;
}

.team-member-list-container {
	position: relative;
	color:$project-green;

	a {
		font-weight: normal;
		font-family: gotham-medium;
	}
}

.tt-title,
h3.tt-title {
	font-size: 1em; line-height: 1.2em;
	color:$project-gold;

	@media(min-width: 768px) {
		font-size: 1.2em;
	}
}

.tt-date,
h4.tt-date {
	font-size: 0.85em;
	font-weight: normal;
	font-family: gotham-medium;

	@media(min-width: 768px) {
		font-size: 1em;
	}
}

.tabs { 
	.article-header {
		margin-bottom: 1.5em;
	}
	.page-content {
		  max-width: 41.5em;
		p { margin-top:1.5em; }
	}
}

#section-1 > div:nth-child(2) > header > h3:nth-child(3) {
	margin: 1em auto 1.5em;
	max-width: 23em;
	font-size: 1.0125em;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	@media(min-width: 768px) {
		font-size: 1.35em;
	}
}

#section-1 .page-content > header > h4 {
	&:after {
		content: "";
		display: block;
		border-bottom: 1px dashed $border-gray;
		width: 15%; max-width: 144px;
		margin: 1.5em auto;
	}	
}

.page-id-19 {
	.news-list .img-container img, 
	.news-list .vid-container img {
		position: static;
	}
}