.gold-line {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-bottom: 4px;
	width: 100%;
	@media(min-width: 481px) { padding-bottom: 6px; }
	@media(min-width: 768px) { padding-bottom: 8px; }
}

footer {

	#inner-footer {
		text-align: center;
		max-width: 1400px;
		margin: auto;
		padding-bottom: 2em;
  		padding-top: 4.5em;

		.logo-container-container {
			width: 100%;
			@media(min-width: 768px) {
				width: 35%;
				float: left;
			}
		}


		.logo-container {
			width: 75%; max-width: 340px;
			position: relative;
			margin-left:1.1em;

			@media(min-width: 768px) {
				width: 90%;
			}
		}

		#footer-logo {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width: 100%;
			padding-bottom: 8.4112%;
			margin-top:1.2em;
			margin-bottom: 1.2em;
		}


		.logo-container,
		.social-container,
		.c-container {
			float: left;
			clear: left;
			@media(min-width: 768px) {
				clear: none;
			}
		}


		svg { 
			path { fill:#ffffff; }

			path.circle { fill:$project-gold; }

			path { @include prefix(transition, 200ms fill); }

			&:hover {
				path { fill:$project-gold; }
				path.circle { fill:$project-green; }
			}
		}

		.c-container {
			width: 100%; max-width: 17em;
			@media(min-width: 768px) {
				width: 28%;
			}
		}

		.c-list { 
			padding-left:1.25em;

		}

		.c-item {
			float: left;
			clear: left;
			text-align: left;
			font-size: 0.75em; line-height:1.1em;
			padding:1em 0;
			a {
				@include prefix(transition, 200ms color);

				h4 { @include prefix(transition, 200ms color); }
				
				&:hover {
					color:$project-gold;
					h4 {color:$project-gold;}
				}

				&.phone,
				&.address {
					
					&:hover {
						color:inherit;
						h4 {color:inherit;}
					}

				}

				address { font-style: normal; }
			}
		}

	}

	.social-container {
		padding-top:0.75em;

		.social-item {
			display: block;
			float: left;
		}

		a { display: inline-block; }
		
		div {
			background-size: 50px 50px;
		    width: 50px;
		    height: 50px;
		    margin: auto;
		    display: inline-block;
		    margin: 0 1.1em;
		}
	}

	.footer-credits {
		// background-color:#182b18;
		color:#ffffff;
		background-color:$gold-footer;

		.footer-credits-container {
			max-width: 1400px;
			margin:0 auto;
		}
		.footer-credits-inner {
			text-align: center;
			padding:1.25em;
			text-align: left;

			@media(min-width: 900px) {
				margin-left: 35%;
			}
		}
		p {
			display: inline-block;
			font-size: 0.75em;
		}

		span {
			margin: 0 10px;
		}
	}
}