// HOME 
.page-id-6 {
	.article-header {
		.btn {
			margin: 2em auto 0;
		}
	}
}

.home-content-2 {
	.article-header {
		margin:3.5em auto;
		padding:0 1.2em;
		@media(min-width: 768px) {
			margin:5.5em auto;
		}

		@media(min-width: 1400px) {
			margin:7.75em auto;
		}
	}	
}

.page-content {
	text-align: center;
	max-width: 36em;
	margin: 1em auto 1em;
	color: black;
	font-size: 1em; line-height: 1.7em;

	h3 { 
	  	font-size: 1.2em;
  		margin: 0.3em auto;
  	}
  	h4 {
  		font-size: 1em;
  	}
  	p { margin: 2em auto 1em; }

  	@media(min-width: 768px) {
  		h3 { font-size: 1.5em; }
  		h4 { font-size: 1.2em; }
  	}
}

.family-members {
	header.article-header {
		margin:0 auto;
		padding-top:1.75em;
	}	
}

.featured-posts {
    position: relative;
	header.article-header {
		margin:3.5em auto 3em;
		@media(min-width: 768px) {
			margin:5em auto 4em;
		}

		@media(min-width: 1400px) {
			margin:8em auto 5em;
		}
	}	
}


.family-members-container {
	padding-top:11%;
    background: #fff;
    position: relative;
    @media(min-width: 768px) {
        // background: transparent;
        padding-top:0;
    }
	// @media(min-width: 1400px) { padding-top:154px; }
}

.home-content-2,
.news-container {
    position: relative;
    background: #ffffff;
}