#hamburger {
	float: right;
	display: inline-block;
	cursor: pointer;
}

.family-navigation.mobile-menu {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.menu-open.mobile-menu {
	top: 0;
  opacity: 1;
}

.family-navigation.mobile-menu .mobile-menu-inner {
	height: 100%;
  	background: $light-gold;
}

#menu-close {
	// float: right;
	display: inline-block;
	cursor: pointer;
	  position: absolute;
  top: 0;
  right: 0;
}

#menu-main-menu {
	text-align: center;
	padding: 20px 0;
}

#menu-main-menu li {
	  margin: 0;
  padding: 0;
  display: block;
  float: none;
}

#menu-main-menu li a {
	font-family: 'gotham-book';
	font-size: 1.8em;
	text-transform: uppercase;
		display: block;
	  color: #000;
	  text-decoration: none;
	  line-height: 20px;
	  font-weight: 700;
	outline: none;
	border: none;
	border-color: transparent;
	  
}

#menu-title {
	font-style: italic;
	color: $gold;
	font-size: 1.2em;
	margin: 0;
	padding: 100px 0 40px 0;
	text-align: center;
}

#menu-main-menu li a:link, #menu-main-menu li a:visited {
	outline: none;
	border: none;
	border-color: transparent;
}
#menu-main-menu li a:hover, #menu-main-menu li a:focus {
	outline: none;
	border: none;
	border-color: transparent;
}


.menu-border {
	border-bottom: 1px dashed #666;
	width: 100px;
	margin: auto;
}