// NEW ARCHIVE BUTTON

.archive-select-container {
    display: inline-block;
    // float: right;
    // margin-top: -13px;

    @media(min-width: 480px){
        position: absolute;
        right:20px;
    }

    select {
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 0;
        line-height: 1.75em;
        height: auto;
        // background-image:none;
        position: relative;

        &:focus {
            color: #d4a551;
            background-color: #1c391e;
        }
    }
}

.white-tri {
    display: block;
    position: absolute;
    right:-10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7.5px 0 7.5px;
    border-color: #ffffff transparent transparent transparent;
}