// NEWS MODULE
.news-list-container { position: relative; }

.news-list {

	// li { padding:0 30px; }
	
	.img-container,
	.vid-container {
		width: auto;

		@media(min-width: 768px) { 
			width:42.857143%; 
		}
		
		img {
			margin: 0 auto; 
			padding-top: 0.5em; 
			width: auto; max-width: 200px;
			height: auto; max-height: 200px;

			position: absolute;
		    top: 0;left: 0;right: 0; bottom: 0;
		    margin: auto;

			@media(min-width: 480px) {
				max-width: 275px; max-height: 275px;
			}

			@media(min-width: 768px) { 
				max-width: 435px; max-height: 373px;
				width: auto; 
				// float: right;
				// padding-right: 1em; padding-top: 2em; 

				// position: absolute;
				// top:0; left:0; bottom:0; right:0;
				// margin:auto;

				padding:0;
			}
		}
	}

	.txt-container {
		width:auto;
		text-align: center;

		@media(min-width: 768px) { 
			width:57.142857%; 
		}

		.txt-wrapper {
			margin:2em auto 1em;

			@media(min-width: 768px) {
				margin:0.5em auto 1.25em;
			}

			p {
				font-size: 0.875em; 
				line-height: 1.3em;
				margin: 1em auto 1.5em;
				color:$project-green;
				max-width: 27em;
				padding:0 1em;
			}
			@media(min-width: 768px) {
				// float: left;
				p {
					// font-size: 1.2em;
					font-size: 1em;
					margin: 1.75em auto;
				}
			}
			// @media(min-width: 930px) {
			// 	p { font-size: 1.4em; }
			// }

		}
	}

	.vid-container {
		@media(min-width: 768px) { 
			width:57.142857%; 
		}
	}
	.vid-container + .txt-container {
	@media(min-width: 768px) { 
			width:42.857143%; 
		}
	}

	// TEMPORARLY HIDE OTHER LI ITEMS UNTIL
	// JS IS IMPLEMENTED
	// li {
	// 	display: none;
	// 	&:first-child { display:list-item; }
	// }

} 


.single {
	.news-list .txt-container .txt-wrapper {
		p {
			max-width: 36em
		}
	}

	.news-list .txt-container .txt-wrapper {
		margin:2.5em auto 4em;
	}

	@media (min-width: 768px) {
		.news-list .txt-container {
		    width: auto;
		}
	}
}

#news .work-news-title {
	color: #1b381d;
	padding-top:1.75em;
}