// PARALLAX TRIANGLES
$maxWidth:1400;

.gold-triangle {
	width: #{ ($maxWidth/100) + "%"};
	max-width: 100px;
}

.tri-logo-wrapper {
	position: relative;
	overflow: hidden;
}

#post-6-1 {
	background: transparent;
}

.tri {
  	position: absolute;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.gold-foil {
	background-image:url('../images/gold-tri.png');
	// width: 17%;
	// padding-bottom: 17%;
	background-size: contain;
}

.green-tri {
	background-image:url('../images/green-tri.png');
	background-size: contain;
	// width: 5.214%; max-width: 73px;
	// padding-bottom: 149.315%;
	// padding-bottom:#{ (109/$maxWidth) * 100 + "%"};
	

	@media(min-width: 1400px) {
		padding-bottom: 109px;
	}
}

.stripe-tri {
	background-image:url('../images/stripe-tri.png');
	background-size: contain;
	z-index: 1;
	// width: 7.7785%; 
	// max-width: 109px;
	// padding-bottom: 121.1%;
	// padding-bottom:#{ (132/$maxWidth) * 100 + "%"};

	@media(min-width: 1400px) {
		// padding-bottom: 132px;
	}

}

#triangle-header {
	height: 0;
	// position: relative;
}

.green-tri.down,
.gold-foil.right { 
	@include prefix(transform, translateX(-50%) rotate(90deg));
}

.stripe-tri.right {
	@include prefix(transform, rotate(90deg) translateX(50%) );
}

.green-tri.up {
	@include prefix(transform, rotate(-90deg));	
}

.reflect {
	@include prefix(transform, scale(1, -1));		
}

.stripe-tri.half {
	@include prefix(transform, translateX(-100%) scale(1, -1));		
}

.stripe-tri.reflect.left {
	@include prefix(transform, translateX(-100%) scale(1, -1) rotate(-90deg));
}

.stripe-tri.reflect.half {
	@include prefix(transform, translateY(50%) scale(1, -1) rotate(90deg) );		
}


.gold-foil.reflect.right { 
	@include prefix(transform, translateY(-50%) scale(1, -1) rotate(-90deg));
}


.gold-foil.left {
	@include prefix(transform, translateX(-100%) translateY(50%) rotate(90deg) );	
}

.green-tri.left {
	@include prefix(transform, rotate(180deg) );		
}


// NEW STYLES TRI
.inner-tri-wrap {
	padding-bottom: 800px;
	width: 100%;
	position: relative;
}

.gold-wrap,
.green-wrap,
.stripe-wrap {
	position: absolute;
	width: 100%;
	top:0;
	padding-bottom: 800px;
	z-index: -1;
}


.green-wrap-png {
	background-image:url('../images/green-parallax-compressor.png');
}
.gold-wrap-png {
	background-image:url('../images/gold-parallax-compressor.png');
}
.stripe-wrap-png {
	background-image:url('../images/stripe-parallax-compressor.png');
}


.green-wrap-png,
.gold-wrap-png,
.stripe-wrap-png {
	// background-repeat: no-repeat;
	// background-size: cover;

	background-repeat: repeat;
	background-size: contain;

	width: 100%; height: 0; 
	padding-bottom:150%;

	// @include prefix(transform, translate3d(0,0,0));

	@media(min-width: 481px) { 
		// padding-bottom: 86%; 
		padding-bottom: 172%; 
	}
	@media(min-width: 920px) { 
		// padding-bottom: 800px; 
		padding-bottom: 1600px; 
	}
}

.family-members-container,
.news-container {
	article {
		background: #ffffff;
	}
}