// PARALLAX TRIANGLES
$maxWidth:1400;

.gold-triangle {
	width: #{ ($maxWidth/100) + "%"};
	max-width: 100px;
}

.tri-logo-wrapper {
	position: relative;
	overflow: hidden;
}

#post-6-1 {
	background: transparent;
}

.tri {
  	position: absolute;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.gold-foil {
	background-image:url('../images/gold-tri.png');
	width: 17%;
	padding-bottom: 17%;
}

.green-tri {
	background-image:url('../images/green-tri.png');
	width: 5.214%; max-width: 73px;
	// padding-bottom: 149.315%;
	padding-bottom:#{ (109/$maxWidth) * 100 + "%"};
	

	@media(min-width: 1400px) {
		padding-bottom: 109px;
	}
}

.stripe-tri {
	background-image:url('../images/stripe-tri.png');
	width: 7.7785%; max-width: 109px;
	// padding-bottom: 121.1%;
	padding-bottom:#{ (132/$maxWidth) * 100 + "%"};

	@media(min-width: 1400px) {
		padding-bottom: 132px;
	}

}

#triangle-header {
	height: 0;
	position: relative;
}