// PROJECTS
// CENTER TABLE
.center-table > div {
	width: 50%; display: block;
	margin:0 auto;

	img { width: 100%; display: block; }
}

.center-table {
	display: table;
	height: auto;
	width:100%;
	border-collapse: collapse;
}

.center-table > div { width:auto; }

@media(min-width: 768px) {
	.center-table {
		> div {
			display: table-cell;
			margin: 0;
			width:50%;
			vertical-align: middle;
		}
		
		> .txt-container { width:30%; }
	}
}

@media(min-width: 768px) {
	.single .center-table {
		> div {
			display:block;
			margin: auto;
			width:auto;
			// vertical-align: middle;
		}
		
		> .txt-container { width:30%; }
	}
}
// END CENTER TABLE


// BACKGROUND IMAGE STYLES
.bg-img {
	background-size:0;
	@media(min-width: 768px) {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;	
	}
}


// PROJECTS
.project {
	// DECLARE FONT-SIZE AT TOP OF CLASS TO MAKE RELATVIVE
	font-size: 15px;
	background: $project-peach;

	h1, h2 {
		margin: .35em auto;
		letter-spacing: 0.05em;
		line-height: 1.15em;
	}

	h1 {
		color:$project-green;
		font-size: 1.1em;
		margin: 0 auto 0.15em;

		@media(min-width: 1060px) { font-size: 1.25em; }
	}

	h2 {
		color:$project-gold;
		font-size: 0.9em;
		@media(min-width: 1060px) { font-size: 1em; }
	}
	
	p {
		// font-size:15px; line-height: 1.65em;
		color:#000;
		max-width: 26em;
		margin: 1em auto 2em;
	}

	.txt-container { 
		// padding:1.2em; 
		padding:1em; 
	}
	.txt-wrapper {text-align: center; }

	.client-wrap {
		text-align: center;
		margin:0 auto;
		position: relative;
		display: inline-block;
		h2 {
			display: inline-block;
			margin:0 0 0 0.35em;
		}
		img.by {
			display: inline;
			width:26px; height:22px;
			padding:0;
			vertical-align: middle;
			vertical-align: -webkit-baseline-middle;
			vertical-align: -moz-baseline-middle;
			vertical-align: -o-baseline-middle;
			vertical-align: -ms-baseline-middle;
			vertical-align: baseline-middle;

			@media(min-width:900px) {
				width: 35px; height: 31px;
			}
		}
	}

	@media(min-width: 768px) {
		p { 
			margin: 1em auto 0; 
			font-size: 13px;
			line-height: 1.45em;
		}
	}

	@media(min-width:930px) {
		font-size: 20px;
		p {
			font-size: 0.75em;
			margin: 1em auto 0;
			line-height: 1.7em;
		}
	}

	// BACKWARDS MEDIA QUERY
	@media(max-width: 767px) {
		.table-header,
		.img-container { display: table-header-group; }
		
		.table-footer,
		.text-container { display: table-footer-group; }

		.img-container { height: 200px; }

	}

}

.news {
	font-size: 15px;

	h1, h2 {
		margin: .35em auto;
		letter-spacing: 0.05em;
		line-height: 1.15em;
	}

	h1 {
		color:$project-green;
		font-size: 1.1em;
		margin: 0 auto 0.15em;

		@media(min-width: 1060px) { font-size: 1.25em; }
	}

	h2 {
		color:$project-gold;
		font-size: 0.9em;
		@media(min-width: 1060px) { font-size: 1em; }
	}
	
	p,
	.excerpt,
	.news-list .txt-container .txt-wrapper p {
		// font-size:15px; line-height: 1.65em;
		color:#000;
		max-width: 26em;
		margin: 1em auto 2em;
		padding-left: 0;
		padding-right: 0;
	}

	@media(min-width: 768px) {
		p,
		.excerpt,
		.news-list .txt-container .txt-wrapper p { 
			margin: 2em auto; 
			font-size: 13px;
			line-height: 1.45em;
		}
	}

	@media(min-width:930px) {
		font-size: 20px;
		p,
		.excerpt,
		.news-list .txt-container .txt-wrapper p {
			font-size: 0.75em;
			line-height: 1.7em;
		}
	}	
}

video {
	cursor: pointer;
}

// VIDEO IPAD FIX FALLBACK
.mobile {
	.video-container {
		@media(min-width: 768px) {
			position: relative;
			padding-top: 50.15%;

			video, object {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
			}
		}
	}
}


// VIDEO HOVER PLAYBLACK STYLES
.video-container {
	position: relative;

	&:hover {
		.play-tri-holder { opacity: 0.7; }
	}
}

.responsive-container {
	cursor: pointer;
	&:hover {
		.play-tri-holder { opacity: 0.7; }
	}
}

#news-container .responsive-container {
	cursor: auto;
}

.play-tri-holder {
	width: 100%;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin: auto;

	@include prefix(transition, opacity 300ms ease-out);
}
.play-tri {
	width: 0; height: 0;
	border-style: solid;
	border-width: 33.75px 0 33.75px 75px;
	border-color: transparent transparent transparent #c6964f;	
	opacity: 0.7;

	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin: auto;

	@media(min-width: 768px) {
		border-width: 67.5px 0 67.5px 150px;
	}
}

.project {
	margin-bottom: -1px;
	margin-top: -1px;
	position: relative;
	overflow: hidden;
}