// TABS
.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 0 2em;

	.btn {
		padding-left:1.5em; padding-right:1.5em;
		@media(min-width: 768px) {
			padding-left:3.5em; padding-right:3.5em;
			margin-left:1.5em; margin-right:1.5em;
		}
	}
}

/* Nav */
.tabs nav {
	text-align: center;
	line-height: 1em;
	padding-top:2.5em;
	@media(min-width: 768px) { padding-top:6em; }
}

.tabs nav ul {
	padding: 0; margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	z-index: 100;
}

// .tabs nav li.tab-current:before,
// .tabs nav li.tab-current:after {
// 	content: '';
// 	position: absolute;
// 	height: 1px;
// 	right: 100%;
// 	bottom: 0;
// 	width: 1000px;
// 	background: #47a3da;
// }

// .tabs nav li.tab-current:after {
// 	right: auto;
// 	left: 100%;
// 	width: 4000px;
// }

.tabs nav li a {
	color: white;
	background-color:$project-green;
}

.tabs nav li.tab-current a {
	color: white;
	background-color:$project-gold;
}


/* Content */
.content section {
	padding:0 1em;
	display: none;
	max-width: 1400px;
	margin: 0 auto;

	@media(min-width: 768px) {
		padding:1.5em 1em;
	}
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
}

.content section.content-current {
	display: block;
}