// UTILITES

.italic { font-style: italic; }

// RESET MARGINS
#content { margin-top:0; }

p {
	font-size: 0.875em;
  	line-height: 1.45em;

  	@media(min-width: 768px) {
  		font-size: 1em; line-height: 1.7em;
  	}
}

a {
	color:inherit;
	text-decoration: none;
}
// PAGE SPECFIC
h1, h2, h3, h4, h5, h6,
h1.h1, h2.h2, h3.h3, h4.h4, h5.h5, h6.h6 {
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	margin:0;
	color: $project-green;
}

ul { margin:0; }

.mobile-only {
	@media(min-width: 768px) { display: none; }
}

.page-title {
	font-size: 1.125em;
	margin:0.1em auto;
	position: relative;
	display: block;
	@media(min-width: 768px) {
		font-size: 1.5em;
		margin:0.05em auto;
	}
}

.sub-title,
	h2.sub-title {
		line-height: 1.6em; font-size: 0.8em;
		max-width: 23em;
		margin: 0 auto;
		font-weight: 800;
		padding:0 1em;
		@media(min-width: 768px) { 
			font-size: 1.35em;
		}
	}


.page-sub-title { font-size: 1.2em; }

.article-header {
	// margin:3em auto 2em;
	margin:2em auto;
	text-align: center;
	@media(min-width: 768px) { 
		margin:3em auto;
	}
}


video {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

.btn {
	text-decoration: none;
	outline: none;
	text-transform: uppercase;
	background-color:$project-gold; 
	color:white;
	display: inline-block;
	margin: 0 auto;
	font-size: 0.65em;
	padding:0.4em 1.5em;
	font-weight: 800;
	letter-spacing: 0.05em;
	@media(min-width: 768px) {
		font-size: 0.8em;
		padding:0.4em 1.5em 0.25em;
	}

	cursor: pointer;
	@include transition(all 0.2s ease-in-out);

	&:hover {
		color: $project-gold;
		background-color: $footer-green;
	}
}


// DOTS AFTER TITLES ON CERTAIN PAGES:
.page-id-13 {
	@media(min-width: 768px) { 
		.page-title { font-size: 2em; }
		.page-sub-title {font-size: 1.6em; }
	}
}
.page-id-19 .tab-holder {
	@media(min-width: 768px) { 
		.page-title { font-size:1.8em; letter-spacing: 0.05em; margin:0.2em auto;}
		.page-sub-title {font-size: 1.4em; letter-spacing: 0.05em;}
	}
}
// WORK
.page-id-13 {
	.page-title {
		&:after {
			content: "";
			display: block;
			border-bottom: 1px dashed $border-gray;
			width: 15%; max-width: 144px;
			margin: 0.85em auto 1em;
		}
	}
}
// FAMILY HISTORY
.page-id-19 .tab-holder {
	.page-sub-title {
		&:after {
			content: "";
			display: block;
			border-bottom: 1px dashed $border-gray;
			width: 15%; max-width: 144px;
			margin: 1.6em auto 0;
		}
	}
}

// SLIDER ARROWS
a.arrow,
a.arrow {
	display: block;
	position: absolute;
	top:0; bottom:0;
	margin: auto;
	z-index: 10;
	// width: 0; height: 0;
	height: 30px; width: 24px;
	border-style: solid;

	@include prefix( transform,rotate(360deg) );
}
.arrow-left,
a.arrow-left {
	border-width: 15px 20px 15px 0;
	border-color: transparent $project-gold transparent transparent;
	left:0;
}
.arrow-right,
a.arrow-right {
	border-width: 15px 0 15px 20px;
	border-color: transparent transparent transparent $project-gold;
	right:0;
}