// UTILITES

.italic {
	font-style: italic;
}

// RESET MARGINS
#content {
	margin-top:0;
}

// PAGE SPECFIC
h1, h2, h3, h4, h5, h6,
h1.h1, h2.h2, h3.h3, h4.h4, h5.h5, h6.h6 {
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	margin:0;
}

ul {
	margin:0;
}

.mobile-only {
	@media(min-width: 768px) {
		display: none;
	}
}